.results-list {
    font-weight: 700;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0p 0p 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}