.middleSideCreate{
    height: 400px;
    display: grid;
    align-content: center;
    justify-items: center;
    border: 1px solid black;
}

.ss{
    display: block;
}

form{
    display: grid;
}

input {
    display: block;
    margin-bottom: 10px; 
    border: 1px black solid;
    padding: 5px;
  }


